# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_WS_URL=ws://localhost:8000

# Microsoft Entra ID (Azure AD) Configuration
NEXT_PUBLIC_ENTRA_CLIENT_ID=64705a23-276a-44b6-8933-ef2dadcd9b73
NEXT_PUBLIC_ENTRA_AUTHORITY=https://login.microsoftonline.com/87a75d4e-22bb-43dd-8b2d-8c8613a17b35
NEXT_PUBLIC_ENTRA_REDIRECT_URI=http://localhost:3000
NEXT_PUBLIC_ENTRA_API_SCOPE=api://8265aaf6-0f01-4649-81e0-01d040bebce2/access_as_user